$brand-color: #E34234;
$highlight: lighten($brand-color, 35%);
$highlight: #FFF1D6;
$text-color: #170D0A;
$muted-text-color: #FFF1D6;

$font-family: "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone: 375px;
$on-tablet: 768px;
$on-laptop: 960px;
$on-desktop: 1200px;